#### Summary


<div class="recipe-summary-table">
    <span class="recipe-summary-item">{% icon fa-fire fa-2x%} {{ page.recipe_summary.exoticness }}</span>
    <span class="recipe-summary-item">{% icon fa-users fa-2x %} {{ page.recipe_summary.persons }}</span>
    <span class="recipe-summary-item">{% icon fa-clock-o fa-2x %} {{ page.recipe_summary.total_time }}</span>
    <span class="recipe-summary-item">{% icon fa-wrench fa-2x %} {{ page.recipe_summary.complexity }}</span>
    <span class="recipe-summary-item">{% icon fa-leaf fa-2x %} {{ page.recipe_summary.vegan }}</span>
</div>

<!--following is there for bottom margin-->
<p></p>